// colors

$firstColors: #2e9a9a;
$secondColors--background: hsl(180, 52%, 96%);
$secondColors--filter: hsl(180, 31%, 95%);
$thirdColors--dark: hsl(180, 8%, 52%);
$thirdColors--veryDark: rgb(44, 58, 58);

// fonts

$font-family: 'League Spartan', sans-serif;
$font-medium: 500;
$font-bold: 700;